.subtotal > button {
  width: 75%;
  margin: 0.5rem auto;
  /* margin-bottom: 2rem; */
  /* font-size: calc(0.05rem + 1vw); */
  font-size: 0.52rem;
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.2rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.subtotal > button:hover {
  background: transparent;
  /* color: var(--primaryColor); */
}
@media screen and (max-width: 792px) {
  .subtotal > button {
    width: 35%;
  }
}
