.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.home__special {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home__additional {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
