* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: rgb(37, 36, 36);
  --mainGrey: #ececec;
  --darkGrey: #b6b1b1;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 1.5px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
